PORT=4000
JWT_SECRET=replace_me_with_a_long_random_secret
SESSION_SECRET=replace_me_with_a_long_random_secret
MONGO_URI=mongodb://127.0.0.1:27017/bank_mgmt
CORS_ORIGIN=http://localhost:3000

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:4000/auth/google/callback
FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:4000
